doctype html
html
  head
    title= 'AMAP-LMS - ' + titre
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/pop-up-confirmation.js')
  body
    nav() 
      ul 
        li
          a(href='/') Accueil 
        li
          a(href='/adherent/') Liste des adhérents
    hr
    block content
