doctype html
html(lang='fr')
  head
    title= 'AMAP-LMS - ' + titre
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/pop-up-confirmation.js')
  body
    nav() 
      ul 
        li
          a(href='/') Accueil 
        li
          a(href='/personne/') Liste des personnes
        li
          a(href='/contrat/legume/') Liste des contrats legume
        li
          a(href='/tarif/') Liste des tarifs
    hr
    block content
