/* CSS des balises HTML */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table td, table th{
  padding: 0.5em 1em;
}
table tr:nth-child(even) {
  background-color: #bebebe;
}

/* CSS : Classes */
.rouge {
  color: red;
}
