extends ../../layout

block content
  h1= titre
  a(href='/contrat/legume/ajouter') Ajouter un contrat Légumes
  // Affichage des Contrats Légumes sousrcits
  div
    table 
      thead 
        tr 
          th Nombre de panier
          th Commentaire
      tbody 
        each contrat in listeContrat 
          tr
            td= contrat.quantite
            td= contrat.commentaire
            td 
              a(title='Supprimer' href='/contrat/legume/supprimer/'+contrat.id class='pop-up-confirmation') 	&#10060; 
              a(title='Modifier' href='/contrat/legume/modifier/'+contrat.id) 	&#128394; 
        else 
          tr 
            td Pas de données          
      tfoot 
        tr 
          th Nombre contrat(s) Légumes
          td= listeContrat.length